.notes-container {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: #F7ECDC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notes-container .heading {
    background-color: #E8E8E8;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.notes-container .heading .heading-icon {
    width: 20px;
    height: 20px;
    background-color: #0047FF;
    padding: 15px;
    border-radius: 50%;
    display: inline-block;
    color: white;
}

.notes-container .heading .heading-title {
    margin-left:10px;
    font-weight: 550;
}

.notes-container .notes {
    padding: 40px 40px 0px 40px;
    height: 50%;
    overflow-y: auto ;
    margin: 0 auto;

}

.notes-container .notes::-webkit-scrollbar{
    display: none;
} 

.notes-container .input-notes {
    height: 30%;
    width: 100%;
    background-color:#E8E8E8;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

#input-note {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

.notes-container .input-notes img {
    position: absolute;
    bottom: 30px;
    right: 40px;
}

#arrow-icon {
    display: none;
}


/* Note css */

.note-container {
    display: flex;
    margin-bottom: 40px;
    width: 65vw;
}

.note-container .note-timestamp {
    width: 15%;
    font-size: 0.9rem;
}

.note-container .note-content {
    font-size: 1rem;
    width: 85%;
    text-align: justify;
}



/* Responsiveness */
@media only screen and (max-width : 946px) {
    .note-container .note-timestamp {
        margin-right: 10px;
    }
}
@media only screen and (max-width : 770px) {
    .note-container{
        width: 50vw;
    }
}
@media only screen and (max-width : 485px){
    .groups-container{
        display: none;
    }
    .note-container{
        width: 75vw;
    }
    .notes-container .input-notes {
        height: 20%;
        padding: 10px;
    }
    .notes-container .input-notes img {
        height: 25px;
        width: 25px;
        object-fit: contain;
        bottom: 20px;
        right: 18px;
    }
    .notes-container .notes {
        height: 65%;
    }

    .note-container .note-timestamp {
        width: 30%;
        font-size: 0.6rem;
        padding-top: 5px;
    }

    .note-container .note-content {
        width: 70%;
    }

    #arrow-icon {
        display:inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    #input-note {
        font-size: 15px;
    }
}

